# Ignorar la configuración de IntelliJ IDEA / JetBrains
.idea/
*.iml

# Archivos temporales del IDE
/shelf/
/workspace.xml
/httpRequests/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación o temporales
/out/
/build/
/dist/
/venv/
/__pycache__/
/*.pyc
